* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    background-color: #F5F5F5;
    height: 100%;
}

p {
    font-size: 14px;
    color: #9E9E9E;
    padding-bottom: 10px;
}

input {
    color: #FFFFFF;
    border: none;
    font: inherit;
    outline: inherit;
}

button {
    color: #FFFFFF;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.container {
    display: grid;
    grid-template-columns: 300px 980px;
    grid-template-rows: 124px 1fr;
    min-height: 100%;
    margin: auto;
}

.header {
    background-color: #ad1212;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 300px 1fr 80px;
    grid-template-rows: 124px;
    justify-items: stretch;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    padding-left: 14px;
}

.logo span {
    font-family: 'Bitter', serif;
    font-size: 40px;
    font-weight: bold;
}

.anti {
    color: #1F2833;
}

.social {
    color: #FFFFFF;
}

.search {
    padding: 0px 30px;
}

.header input {
    color: #FFFFFF;
    background-color: #8f1616;
    width: 100%;
    border-radius: 90px;
    padding: 4px 14px;
    font-size: 14px;
}

.sidebar {
    background-color: #1F2833;
    color: #FFFFFF;
    padding: 14px;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 60px;
}

.sidebar li {
    margin-bottom: 14px;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    gap: 4px;
}

.settings {
    flex: 1;
}
.credits p {    
    font-size: 8px;
}

.sidebar .credits a {
    display: inline;
}
.main {
    background-color: #F5F5F5;
    color: #000000;
    display: grid;
    grid-template-rows: 180px 1fr;
}

/* .main div {
    border: pink solid 1px;
} */

.top {
    padding: 14px;
}

.profile {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 14px;
    gap: 4px;
}

.profile button {
    color: #FFFFFF;
    background-color: #1F2833;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
}

.name {
    flex: 1;
}

.control-buttons {
    align-self: flex-end;
}

.bottom {
    padding: 14px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 14px;
}

.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 180px 180px;
    gap: 20px;
}

.tile {
    background-color: #FFFFFF;
    padding: 14px 14px 14px 70px;
    border-radius: 10px;
    box-shadow: inset 5px 0px #ad1212;
}

.specifics {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 14px;
}

.trenders {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.trender {
    padding: 14px 14px;
    display: flex;
    gap: 4px;
    align-items: center;
}

